.home-page {


    @media only screen and (min-width: 768px) {
        .img-zone {
            float: right;
            position: absolute;
            right: 5%;
            top: 40%;
            transform: translateY(-50%);
            width: 40%;
            max-height: 90%;
    
            img {
                border-radius: 5%;
                padding: 10px;
                max-width: 400px;
                height: auto;
                display: block;
                box-shadow: 12px 12px 2px 1px rgb(32, 68, 53);
                background-color: #508a69;
            }
        }
      }
      
    @media only screen and (max-width: 768px) {
        .img-zone {
            float: top;
            position: relative;
            align-items: center;
            width: 40%;
            max-height: 90%;
    
            img {
                border-radius: 5%;
                padding: 10px;
                max-width: 300px;
                height: auto;
                display: block;
                box-shadow: 12px 12px 2px 1px rgb(32, 68, 53);
                background-color: #508a69;
            }
        }
    }

    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }
    h1 {
        color: #fff;
        font-size: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;

        img {
            width: 32px;
            margin-left: 20px;
            opacity: 0;
            height: auto;
            animation: rotateIn 1s linear both;
            animation-delay: 1.4s;

        }
    }
}

h2 {
    color: #181818;
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
}

.flat-button {
    color:#181818;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #181818;
    margin-top: 25px;
    float: left;
    animation: fadeIn 1s 1.8s backwards;
    white-space: nowrap;

    &:hover {
        background: rgb(117, 173, 139) ;
        color: #181818;
    }
}