/* Nav
--------------------------------------------------------------*/
.menu-toggle {
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 3;
    cursor: pointer;
    width: auto;
}

.menu-toggle .fa {
    display: block;
    line-height: 0;
    margin: 0 0 0 0;
    font-size: 28px;
    transition: all 800ms ease-out;
    padding: 0;
    border: 0;
    bottom: 10px;
    left: 0;
    position: absolute;
    right: 0;
    
}
.menu-toggle .fa:nth-child(1) {
    top: 8px;
}
.menu-toggle .fa:nth-child(2) {
    top: 16px;
}
.menu-toggle .fa:nth-child(3) {
    top: 24px;
}

.menu-toggle.close .fa {
    transform: rotate(180deg);
}

.menu-toggle.close .fa:nth-child(1) {
    transform: rotate(45deg) translate(13px, -15px);
}
.menu-toggle.close .fa:nth-child(2) {
    opacity: 0;
}
.menu-toggle.close .fa:nth-child(3) {
    transform: rotate(-45deg) translate(0px, 0px);
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width:20%;
    visibility: hidden;
    background: #181818;
    height: 100vh;
    padding: 50px;
    box-sizing: border-box;
    transform: translate3d(-100%, 0, 0);
    transition: all 600ms ease-out;
    z-index: 2;
    opacity: 0.95;
}

.menu.show {
    visibility: visible;
    transform: translate3d(0, 0, 0);
}

.menu-nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.menu-nav a {
    display: block;
    padding: 7px 0 8px 0;
    text-decoration: none;
    font-size: 28px;
}

@media (max-width: 1200px){
    .menu {
        width: 5%;
    }
}

@media (min-width: 768px){
    .menu {
        width: 10%;
    }
}

@media (max-width: 768px){
    .menu {
        width: 40%;
    }
}


.nav-bar {
  
    nav {
        display: block;
        text-align: center;
        position: relative;
        height: 210px;
        top: 50%;
        margin-top: 100px;
        width: 100%;
        z-index: 1;
        
        a {
            font-size: 22px;
            color: #4d4d4e;
            display: block;
            line-height: 51px;
            height: 51px;
            position: relative;
            text-decoration: none;
            
            i {
                transition: all 0.3s ease-out;
            }
            
            &:hover {
                color: #3e6e3b;
                svg {
                    opacity: 0;
                }
                
                &:after {
                    opacity: 1;
                }
            }

            &:after {
                content: '';
                font-size: 9px;
                letter-spacing: 2px;
                position: absolute;
                bottom: 0;
                display: block;
                width: 100%;
                text-align: center;
                opacity: 0;
                -webkit-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
            }
            
            &:first-child {
                &:after {
                    content: 'HOME';
                }
            }
        }
        
        a.about-link {
            &:after {
                content: 'ABOUT';
            }
        }
        a.contact-link {
            &:after {
                content: 'CONTACT';
            }
        }
        
        a.portfolio-link {
            &:after {
                content: 'PORTFOLIO';
            }
        }
        a.projects-link {
            &:after {
                content: 'PROJECTS';
            }
        }
        a.linkedin-link {
            &:after {
                content: 'LINKEDIN';
            }
        }
        a.active {
            svg {
                color:#508a69;
            }
        }
    }

}