html {
  font-size: 62.5%;
}

body{
  width: 100%;
  height: 100vh;
  margin: 0;
  font: 300 11px/1.4 'Helvetica Neue', 'sans-serif';
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 768px) {
  .text-zone {
    float: center;
    justify-content: center;
    align-items: center;
}
  body {
    background-color: rgb(117, 173, 139);
    overflow-x: hidden;
  }
}

@media only screen and (min-width: 768px) {
  .text-zone {
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    width: 35%;
    max-height: 90%;
    display: inline-block;
}
  body {
    background: linear-gradient(
      to right,
      #508a69 0%,
      #508a69 40%,
      rgb(117, 173, 139) 40%,
      rgb(117, 173, 139) 100%
    );
  }
}

